{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static "SechSPVR\css\ProfileStyleV5.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "SechSPVR\css\bootstrapV2.css" %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="box"></div>

    <div class="container">
        <div class="box2">
            <p class="text">{{ user.username }}</p>
            <button class="button">Редактировать профиль</button>
            <div class="panel">
            <form method="post">
            {% csrf_token %}

            {{ form }}

            <button type="submit">Ввод</button>
            </form>
            </div>
            <a class="exit" href="#">Выйти из профиля</a>
         </div>
    </div>

<script>
var acc = document.getElementsByClassName("button");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>



    </div>
        <div class="ellipse-backgrount">
        <img class="ellipse8" src={% static "SechSPVR//img/svg/Ellipse 8.svg" %} alt="">
        <img class="ellipse10" src={% static "SechSPVR//img/svg/Ellipse 10.svg" %} alt="">
        <img class="ellipse13" src={% static "SechSPVR//img/svg/Ellipse 13.svg" %} alt="">
        <img class="ellipse100" src={% static "SechSPVR//img/svg/Ellipse 100.svg" %} alt="">
    </div>





</body>
</html>